body {
  background-color: #D8DBE2;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #58A4B0;
  border: none;
  color: #1B1B1E;
  font-size: 20px;
  height: 30px;
  width: 250px;
}

button:hover {
  background-color: #1B1B1E;
  color: #58A4B0;
  cursor: pointer;
}

fieldset {
  border: none;
  margin: auto;
  width: 50%;
}

hr {
  border: 1.5px inset;
}

input {
  font-size: 18px;
  height: 30px;
  margin-bottom: 20px;
  width: 500px;
}

#logo {
  color: #373F51;
  font-size: 50px;
  margin-bottom: 20px;
}

#logo img {
  height: 40px;
  width: 40px;
}

#submissions, #suggestions {
  display: none;
}

#submissions p, #suggestions p {
  font-size: 19px;
}

#submitted-words {
  display: none;
  background-color: #FFFFFF;
  border: 2px solid #1B1B1E;
  display: none;
  height: 300px;
  margin: 15px auto;
  overflow: scroll;
  width: 500px;
}

#submit-button {
  background-color: #E63946;
  color: #F1FAEE;
  cursor: default;
  height: 40px;
  margin: 15px auto;
  opacity: 0.3;
  width: 500px;
}

#suggestions-array {
  background-color: #FFFFFF;
  border: 2px solid #1B1B1E;
  display: none;
  height: 300px;
  margin: 15px auto;
  overflow: scroll;
  width: 500px;
}

#wrapper {
  text-align: center;
  width: 100%;
}
